body{
    margin: 0;
    background-color:black;
}

header{
    text-align: center;
}

header h1{
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight:bold;
    text-decoration: uppercase;
}
main{
    text-align:center; 
}

main h2{
    color:aliceblue;
    font-size: 35px;
    font-weight:bold;
    text-align:center;
    font-family:'Courier New', Courier, monospace
}

main p{
    color:aliceblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin:120px;
    text-align: center;
}

main a{
    color:blueviolet;
}

main img{
    image-resolution: 400px;
    border-radius: 30px;
    border-color: aliceblue; 
}